<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <nav>
            <img src="../static/images/dragon-solid-svgrepo-com.svg" alt="" class="icon">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">new</a></li>
                <li><a href="">trending</a></li>
                <li><a href="">gallery</a></li>
                <li><a href="">contact</a></li>
            </ul>
        </nav>
        <div class="signup">
        <a href="">Sign up</a>
    </div>
        <div class="user">
            <img class = "icon" src="../static/images/user-svgrepo-com.svg" alt="">
            <div class="names">
                <p class="name">Virtualprey</p>
                <p class="username">virtualprey</p>
            </div>
        </div>
        </div>
        <div class="right">
            <div class="images">
                <ul>
                    <li><div class = "image"><p>info</p><img src="../static/images/pexels-yigithan-bal-1108532.jpg" alt=""></div></li>
                    <li><div class = "image"><p>info</p><img src="../static/images/pexels-deeana-arts-1646953.jpg" alt=""></div></li>
                    <li><div class = "image"><p>info</p><img src="../static/images/pexels-dids-2911521.jpg" alt=""></div></li>
                    <li><div class = "image"><p>info</p><img src="../static/images/pexels-eberhard-grossgasteiger-2086361.jpg" alt=""></div></li>
                    <li><div class = "image"><p>info</p><img src="../static/images/pexels-gül-işık-3246665.jpg" alt=""></div></li>
                    <li><div class = "image"><p>info</p><img src="../static/images/pexels-rahul-pandit-3893650.jpg" alt=""></div></li>
                    <li><div class = "image"><p>info</p><img src="../static/images/pexels-yigithan-bal-1108532.jpg" alt=""></div></li>
                    <li><div class = "image"><p>info</p><img src="../static/images/pexels-steve-johnson-1145720.jpg" alt=""></div></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>