<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="message">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    
    {% block error %}
        {% if error %}
            <p class="error"><strong>Error: </strong>{{ error }}</p>
        {% endif %}
    {% endblock%}
    {% block body %}{% endblock %}
</body>
</html>